<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Вход в чат - @ChatTitle@</title>
<style type="text/css">
body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}
</style>
@INHEAD@
</head>

<body>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-bottom:15px;">
  <tr>
    <td width="10" height="10" background="@TemplateDir@/images/block_corner_left-top.png"></td>
    <td background="@TemplateDir@/images/block_side_top.png"></td>
    <td width="10" background="@TemplateDir@/images/block_corner_right-top.png"></td>
  </tr>
  <tr>
    <td background="@TemplateDir@/images/block_side_left.png"></td>
    <td bgcolor="#F2F2F2">Добро пожаловать в демонстрационную версию чата ASChat II ! <br />
    Чтобы войти в чат, введите никнейм в форме ниже.</td>
    <td background="@TemplateDir@/images/block_side_right.png"></td>
  </tr>
  <tr>
    <td background="@TemplateDir@/images/block_corner_left-bottom.png" height="10"></td>
    <td background="@TemplateDir@/images/block_side_bottom.png"></td>
    <td background="@TemplateDir@/images/block_corner_right-bottom.png"></td>
  </tr>
</table>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="10" height="10" background="@TemplateDir@/images/block_corner_left-top.png"></td>
    <td background="@TemplateDir@/images/block_side_top.png"></td>
    <td width="10" background="@TemplateDir@/images/block_corner_right-top.png"></td>
  </tr>
  <tr>
    <td background="@TemplateDir@/images/block_side_left.png"></td>
    <td bgcolor="#F2F2F2">@LOGONFORM@</td>
    <td background="@TemplateDir@/images/block_side_right.png"></td>
  </tr>
  <tr>
    <td background="@TemplateDir@/images/block_corner_left-bottom.png" height="10"></td>
    <td background="@TemplateDir@/images/block_side_bottom.png"></td>
    <td background="@TemplateDir@/images/block_corner_right-bottom.png"></td>
  </tr>
</table>
<table width="500" border="0" align="center" cellpadding="0" cellspacing="0" style="padding-top:15px;">
  <tr>
    <td width="10" height="10" background="@TemplateDir@/images/block_corner_left-top.png"></td>
    <td background="@TemplateDir@/images/block_side_top.png"></td>
    <td width="10" background="@TemplateDir@/images/block_corner_right-top.png"></td>
  </tr>
  <tr>
    <td background="@TemplateDir@/images/block_side_left.png"></td>
    <td align="center" bgcolor="#F2F2F2">@COPYRIGHTS@</td>
    <td background="@TemplateDir@/images/block_side_right.png"></td>
  </tr>
  <tr>
    <td background="@TemplateDir@/images/block_corner_left-bottom.png" height="10"></td>
    <td background="@TemplateDir@/images/block_side_bottom.png"></td>
    <td background="@TemplateDir@/images/block_corner_right-bottom.png"></td>
  </tr>
</table>
</body>
</html>
